body{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}
nav {
    width: 100%;
    overflow: hidden;
    background-color: lightskyblue;
}

nav > h1{
    color: lightpink;
    text-shadow: 1px 1px 1px black;
    animation: slide-in-out 10s linear infinite;
    position: relative;
}

section.register{
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    background-image: url(/HTML/img/sky-clouds-vintage-painting.jpg);
    background-size: cover;
    position: relative;
    top: 0.5rem;
    border-radius: 10px;
    border: 2px solid black;
}

div.hder > h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 4px 3px lightpink;
    transition: transform 0.5s ease;
    animation: shake 2s infinite;
}

div.hder span{
    padding: 2px;
}

div.row{
    padding: 10px;
}
div.row > label{
    font-weight: bold;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 8px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: white;
    border-radius: 5px;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: lightskyblue;
    outline: none;
}

.submit{
    background-color: blue;
    color: white;
    padding: 15px 15px;
    margin: 5px 0;
    border: none;
    width: 100%;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 5px;
}

div button.submit:hover{
    opacity: 1;
}

div > p{
    font-size: 14px;
}

div > p > a{
    text-decoration: none;
}

.login{
    background-color: lightgreen;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.login a{
    text-decoration: none;
}

@keyframes shake{
    0%{transform: translateX(0);}
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}

@keyframes slide-in-out {
    0% { transform: translateX(100%); }
    50% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
