body {
    margin: 0;
    background-color: rgb(192, 192, 192, 0.1);
    height: 2000px;
}


header {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(140, 138, 138);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

selection.logo {
    max-width: 60px;
}

form.search-form{
    background-color: rgb(192, 192, 192, 0.2);
    border-radius: 20px;
}

form.search-form input.search-text{
    padding: 10px 15px;
    outline: none;
    border: 0;
    font-size: 15px;
    background-color: rgb(192, 192, 192, 0);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.25s ease-in-out;
}
form.search-form button.search-btn{
    background-color: rgb(192, 192, 192, 0);
    border-radius: 50%;
    border: 0;
    outline: none ;
    padding: 10px 12px;
    cursor: pointer;
}

form.search-form:hover {
    background-color: rgb(192, 192, 192, 0.4);
}

@media screen and (max-width: 700px) {
    .search-form {
        justify-content: center;
    }
    .search-text {
        display: none;
    }
    .search-btn {
        display: block;
    }
}
seclection.choice {
    position: relative;
}

selection .button-menu {
    border: 0;
    outline: none;
    position: relative;
    right: 10px;
    padding: 10px 12px;
    border-radius: 50%;
}

selection.choice .menu-header{
    list-style: none;
    padding: 60px; 
    position: absolute;
    right: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px rgb(140, 138, 138);
    border-radius: 10px;
    /* display: none; */
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}


selection.choice .menu-header > li {
    width: 200px;
    border-radius: 10px;
}

selection.choice .menu-header > li button{
    background-color: rgb(255, 255, 255, 0);
    border: 0;
    position: relative;
    font-weight: bold;
    padding: 0;
    right: 23px;
    top: -25px;
    width: 250px;
    border-radius: 10px;
}

selection.choice .menu-header > li i:first-child {
    border: 0;
    outline: none;
    position: relative;
    right: 10px;
    padding: 12px 12px;
    border-radius: 50%;
    background-color: rgb(192, 192, 192, 0.4);
}

i.fa-solid.fa-chevron-right {
    position: relative;
    right: -155px;
    font-size: 16px;
}

selection.choice .menu-header > li:first-child i:first-child{
    padding: 12.5px 13.5px;
}

selection.choice .menu-header > li :hover {
    background-color: rgb(192, 192, 192, 0.4);
    color: #000;
}

selection.choice .menu-header > li a {
    text-decoration: none;
    padding: 5px 25px;
    display: block;
    text-align: justify;
    border-radius: 10px;
    color: #000;
} 



